<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="tests/test.php">
    <php>
    </php>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <file>./src/HTMLNode.php</file>
            <file>./src/HeadNode.php</file>
            <file>./src/HTMLDoc.php</file>
            <file>./src/Input.php</file>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="clover.xml"/>
    </logging>
    <testsuites>
        <testsuite name="HTML Elements Tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>