<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="tests/test.php">
    <php>
    </php>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="clover.xml"/>
    </logging>
    <testsuites>
        <testsuite name="Data Structures Tests">
            <directory>./tests/data-structures</directory>
        </testsuite>
        <testsuite name="HTML Elements Tests">
            <directory>./tests/html</directory>
        </testsuite>
    </testsuites>
</phpunit>