<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="bootstrap.php">
    <php>
    </php>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <file>../webfiori/ui/HTMLNode.php</file>
            <file>../webfiori/ui/HeadNode.php</file>
            <file>../webfiori/ui/HTMLDoc.php</file>
            <file>../webfiori/ui/Input.php</file>
            <file>../webfiori/ui/HTMLTable.php</file>
            <file>../webfiori/ui/TemplateCompiler.php</file>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="clover.xml"/>
    </logging>
    <testsuites>
        <testsuite name="HTML Elements Tests">
            <directory>./webfiori/test/ui</directory>
        </testsuite>
    </testsuites>
</phpunit>