<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="bootstrap.php">
    <php>
    </php>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <file>../WebFiori/UI/HTMLNode.php</file>
            <file>../WebFiori/UI/HeadNode.php</file>
            <file>../WebFiori/UI/HTMLDoc.php</file>
            <file>../WebFiori/UI/Input.php</file>
            <file>../WebFiori/UI/HTMLTable.php</file>
            <file>../WebFiori/UI/TemplateCompiler.php</file>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="clover.xml"/>
    </logging>
    <testsuites>
        <testsuite name="HTML Elements Tests">
            <directory>./WebFiori/Tests/UI</directory>
        </testsuite>
    </testsuites>
</phpunit>